/* @import url(../assets/stopbuck/Stopbuck.ttf); */

body {
  /* font-family: Stopbuck !important;
  src: url(../assets/stopbuck/Stopbuck.ttf); */
  background: url("../img/water.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
  /* font-family: Roboto !important;
  src: url(../assets/stopbuck/Stopbuck.ttf); */
}

.shadow-box {
  /* background-color: #755103; */
  /* background-color: transparent;
  border: 4px solid #755103; */
  border-radius: 0.5rem;
  position: relative;
  /* inset: auto -0.6rem -0.5rem auto; */
  padding: 25px 20px;
}
.shadow-box:hover {
  background: transparent !important;
}
.shadow-box-inner {
  background: #eee;
  border: 3px solid #000;
  border-radius: 0.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -8px;
  left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadow-box-inner:hover {
  top: 0px;
  left: 0px;
  transition: 0.3s ease-in;
}

.logo-width {
  width: 20%;
}
.logo-img {
  max-width: 150px;
  max-height: 100px;
  /* border-radius: 50%;
  border: 3px solid #feb71d; */
}
.btn-width {
  width: 300px;
}

.menu-width {
  width: max-content;
  font-size: 20px;
}
.buy-btn {
  background: transparent;
  color: #dc8f09 !important;
  border: 3px solid #dc8f09;
}
.buy-btn:hover {
  background: transparent;
  color: #dc8f09 !important;
  border: 3px solid #dc8f09;
  font-weight: bold;
}

.menu-container {
  display: flex;
  justify-content: center;
}
.nav-item {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.nav-item a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-item a:hover {
  color: #000;
  scale: 1.11;
  transition: 0.3s ease-in;
}
.navbar-toggler {
  color: #feb71d;
  /* background: #fff; */
}

/* Banner */
.banner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  /* padding-top: 50px; */
}
.banner-upper {
  width: 100%;
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.banner-img-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  /* width: 40%; */
}
.banner-img-container img {
  /* height: 260px; */
  width: 100%;
  border-radius: 20%;
  /* border: 4px solid #000; */
  box-shadow: 9px 9px 10px #0000008e;
  /* box-shadow: 7px 7px 6px #6445028e; */
}
.about-text-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.about-text {
  border: 1px dashed #ee9c0a !important;
  /* box-shadow: 7px 7px 9px #3a28008c; */
  box-shadow: 9px 9px 10px #0000008e;
  height: max-content;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 20px;
  /* box-shadow: 4px 4px 7px #414040; */
  color: #999;
  margin-bottom: 20px !important;
}
.ca-container {
  width: 100%;
  display: flex;
  justify-content: start;
}
.ca-btn {
  padding: 10px;
  border: 1px solid #888;
}

/* .top-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
} */
.top-text {
  font-family: "Dela Gothic One", cursive;
  font-weight: 400;
  line-height: 23px;
}
.banner-title {
  padding: 0px 0px;
  margin: 0px auto;
  text-align: center !important;
}

.middle-banner-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.video-section {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
}
.video-container {
  width: 70%;
  height: max-content;
  background: #121212;
  border: 1px solid #555;
  padding: 30px;
  display: flex;
  align-items: center;
  margin: 0px auto;
  border-radius: 5px;
  gap: 20px;
  box-shadow: 4px 4px 7px #414040;
}
.video-container p {
  width: 20%;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: bold;
  color: #feb71d;
}
.video-container iframe {
  border-radius: 10px;
  width: 560px;
  height: 400px;
}
.video-container:hover {
  scale: 1.03;
  transition: 0.3s ease-out;
}

.social__list {
  display: flex;
  gap: 20px;
}
.social-icon-item {
  font-size: 40px;
}

.buy-btn-cont {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

@media (max-width: 500px) {
  .buy-btn-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .btn-width {
    width: 250px;
  }

  .hide-on-mobile {
    display: none !important;
  }
  .menu-width {
    height: 150px;
    z-index: 100;
  }
  .menu-container {
    flex-direction: column;
    background: #feb71d !important;
  }
  .shadow-box {
    padding: 25px 10px;
  }
  .shadow-box-inner {
    border: 3px solid #000;
    top: -8px;
    left: -8px;
  }
  .logo-width {
    width: 130px !important;
  }
  .logo-img {
    max-width: 80px;
    max-height: 50px;
  }

  .banner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
  }

  /* banner */
  .banner-upper {
    width: 100%;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .banner-img-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
  .banner-img-container img {
    /* height: 180px; */
    width: 300px;
  }
  .about-text {
    width: 95%;
    height: max-content;
    padding: 20px;
  }
  .about-text-container {
    width: 98%;
    gap: 30px;
    align-items: flex-end;
  }
  .about-text {
    height: max-content;
    padding: 20px;
    margin-bottom: 10px;
  }
  .ca-container {
    width: 95%;
    display: flex;
    justify-content: start;
  }

  .top-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
  }

  .top-text {
    font-family: "Dela Gothic One", cursive;
    font-weight: 400;
    line-height: 23px;
  }

  .video-container {
    width: 380px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
  }

  .video-section {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .video-container iframe {
    width: 330px;
    height: 300px;
  }
  .video-container p {
    text-align: center;
    width: 100%;
  }

  .img-box {
    margin-bottom: 30px;
  }
}
